:root {
    --bg-clr: #001021;
    --btn-clr: #B6C649;
    --btn-clr-act: #b5c649ab;
    --field-clr: #764248;
    --field-bd: #FFF;
    --form-bg-clr: #7642485e;
    --card-clr: #89B6A5;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

*, *::after, *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

body {
    background-color: var(--bg-clr);
    padding: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 10px;
    grid-template-rows: 350px;
    padding: 50px;
}

.book{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--card-clr);
    border-radius: 4px;
    border: 2px solid white;
    padding: 10px;
}

.book button {
    background-color: var(--btn-clr);
    border: 2px solid white;
    padding: 0 10px;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-start;
    justify-self: right;
}

.author {
    font-weight: bold;
}

.book h2 {
    grid-column: 1 / 3;
    font-size: 2.5rem;
    text-align: left;
}

.read-state {
    background-color: #764248;
    grid-column: 1 / 3;
}

.read-state:hover {
    cursor: pointer;
}

.add-btn {
    height: 200px;
    width: 100px;
    font-size: 3rem;
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: var(--btn-clr);
    align-self: center;
    justify-self: center;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: var(--btn-clr-act);
}

.hidden {
    display: none;
    opacity: 0;
}

form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: var(--form-bg-clr);
}

fieldset {
    padding: 10px;
}

form > fieldset {
    background-color: var(--field-clr);
    width: 400px;
    border: 2px solid var(--field-bd);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

fieldset div {
    display: flex;
    gap: 20px;
    align-items: center;
}
fieldset div label{
    flex: 1;
    text-align: right;
}

fieldset div input{
    flex: 2;
}

fieldset fieldset {
    border: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.summary-div {
    flex-direction: column;
    align-items: center;
}

.summary-div label{
    text-align: left;
}

input {
    height: 1.75rem;
    border-radius: 5px;
    border: none;
}

textarea, input{
    padding: 5px;
}

form button {
    background-color: var(--btn-clr);
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}

form > div {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}



